%br
#flickr-field
  Загрузить фото из Flickr:
  #new_link.form-group
    = form_tag find_flickr_path, method: :put, remote: true do
      = text_field_tag :tag
      = submit_tag 'Поиск', class: 'btn btn-default', id: 'flickr-search'
